
<h1>Pairings</h1>
<div ng-app="app">
  <div ng-controller="stuffCtrl" ng-init="setup()">
    

    <div class ="be-centered" id="new-pairing-form">

    
      <li ng-repeat="error in errors track by index">{{ error }}</li>
        <ul>Title: <input type="text" ng-model="newPairingTitle"></ul>
        <ul>Author: <input type="text" ng-model="newPairingAuthor"></ul>
        <ul>Genre: <input type="text" ng-model="newPairingGenre"></ul>
        <ul>Beer: <input type="text" ng-model="newPairingBeerName"></ul>
        <ul>ABV: <input type="text" ng-model="newPairingAlcohol"></ul>
      <ul><button ng-click="addPairing(newPairingTitle, newPairingAuthor, newPairingGenre, newPairingBeerName, newPairingAlcohol)">Add Pairing</button></ul>
      
      <div style="display:block; padding-left:10%">
        <h4>Total number of pairings: {{ pairings.length }}</h4>
        <input type="text" ng-model="titleFilter" list="title"> Title Search
      </div>
      <br></br>
    </div>



    
        <table>
          <tr> 
            <th ng-click="toggleOrderAttribute('title')">Title {{ arrowForOrder('title') }}</th>
            <th ng-click="toggleOrderAttribute('author')">Author {{ arrowForOrder('author') }}</th>
            <th>Genre</th>
            <th>Beer</th>
            <th>ABV</th>
          </tr>
            
     

        <tr ng-repeat="pairing in pairings | filter: { title: titleFilter } | orderBy:orderAttribute:ascending">
            <td>{{ pairing.title }}</td>
            <td>{{ pairing.author }}</td>
            <td>{{ pairing.genre }}</td>
            <td>{{ pairing.beer_name }}</td>
            <td>{{ pairing.alcohol }}</td>
        </table>


  </div>
</div>