<h1>Pairings</h1>

<div ng-app="app">
  <div ng-controller="stuffCtrl" ng-init="setup()">
    

    <div id="new-pairing-form">
      <li ng-repeat="error in errors track by index">{{ error }}</li>
      Title: <input type="text" ng-model="newPairingTitle">
      Author: <input type="text" ng-model="newPairingAuthor">
      Genre: <input type="text" ng-model="newPairingGenre">
      Beer: <input type="text" ng-model="newPairingBeerName">
      ABV: <input type="text" ng-model="newPairingAlcohol">
      <button ng-click="addPairing(newPairingTitle, newPairingAuthor, newPairingGenre, newPairingBeerName, newPairingAlcohol)">Add Pairing</button>
    </div>

      <input type="text" ng-model="titleFilter"> Search


    <h4>Total number of pairings: {{ pairings.length }}</h4>
    
        <table>
          <tr> 
            <th ng-click="toggleOrderAttribute('title')">Title {{ arrowForOrder('title') }}</th>
            <th ng-click="toggleOrderAttribute('author')">Author {{ arrowForOrder('author') }}</th>
            <th>Genre</th>
            <th>Beer</th>
            <th>ABV</th>
          </tr>
            
     

        <tr ng-repeat="pairing in pairings | filter: { title: titleFilter } | orderBy:orderAttribute:ascending">
            <td>{{ pairing.title }}</td>
            <td>{{ pairing.author }}</td>
            <td>{{ pairing.genre }}</td>
            <td>{{ pairing.beer_name }}</td>
            <td>{{ pairing.alcohol }}</td>
        </table>


  </div>
</div>